# Requirements for the project
langchain
langchain-core
langchain-community
langgraph

# vector database
chromadb

# llms
langchain-openai
langchain-groq
langchain_google_genai

# Environment management
python-dotenv
typesense

# Jupyter
notebook
ipykernel